block variables

doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    //- favicon block start
    //- favicon block end

    link(rel='stylesheet' href='/assets/css/foundation.css')
    link(rel='stylesheet' href='/assets/css/app.css')
    script(src='/assets/js/foundation.js' defer)
    script(src='/assets/js/app.js' defer)

    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->

    body
      .wraper
        header.header.clearfix
            .auth__button Авторизоваться

        .container__welcome
          .card
            .section.welcome__inner
              .block__about
                .welcome__about-me
                  .avatar__box
                    img.avatar(src="assets/img/avatar.png", alt="Аватар")
                  .name_info
                    .about__me-name Кравцов Артем
                    .about__site Личный сайт Web разработчика
                .socials
                  ul.socials__list
                    li.socials__item
                      a.socials__link.social__link_vk(href="#")
                        img.socials__link-pic(src="assets/img/welcome_vk.png", alt="Вконтакте")
                    li.socials__item
                      a.socials__link.social__link_vk(href="#")
                        img.socials__link-pic(src="assets/img/welcome_gh.png", alt="Github")
                    li.socials__item
                      a.socials__link.social__link_vk(href="#")
                        img.socials__link-pic(src="assets/img/welcome_in.png", alt="Linkedin")

              nav.nav__welcome
                .nav__list
                  .nav__item
                    a.nav__link(href="#")
                      span.nav__title Мои работы
                  .nav__item
                    a.nav__link(href="#")
                      span.nav__title Обо мне
                  .nav__item
                    a.nav__link(href="#")
                      span.nav__title Блог
            .section.autorization__inner
              .auth__title Авторизуйтесь
              form.form(action="", method="post")
                label.label
                  input.login__input(type="text", name="login", placeholder="Логин")
                  .icon__login
                label.label
                  input.pass__input(type="password", name="password", placeholder="Пароль")
                  .icon__pass
                label.label
                  input.checkbox__input(type="checkbox", name="checkbox")
                  | Я человек
                .auth_question
                  .question__tittle Вы точно не робот?
                  label.label__question
                    input(type='radio', name='radio', value='people')
                    | Да
                  label.label__question
                    input(type='radio', name='radio', value='robot')
                    | Не уверен
              .nav__welcome
                .nav__item.nav__item-auth
                  a.nav__link(href="")
                    span.nav__title На главную
                .nav__item.nav__item-auth
                  a.nav__link(href="")
                    span.nav__title Войти
                  //a.nav__link.nav__link-btn(type="submit") Войти
      footer.footer
          .footer__copyright Кравцов Артем | создано с любовью в Loftschool | 2016